body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #007BFF;
    font-size: 2rem;
  }
  
  #cityInput, #searchButton {
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid white;
  }
  
  #searchButton {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
  
  #searchButton:hover {
    background-color: lightblue;
  }
  
  #weatherInfo {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #errorMessage {
    color: red;
    display: none;
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 10px;
    }
  }
  